* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




body {
    overflow-x: hidden;
    margin: 0;
    background-color: #333;
    color: #222;
}


.container {
    background-color: #fafafa;
}

.container.show-nav{
    transform: rotate(-20deg);
}