.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.progress {
    width: 90px;
    background-color: black;
    height: 3px;
}

.progress.active {
    background-color: green;
    animation: myAnim 1s ease 0s 1 normal forwards;
}



@keyframes myAnim {
	0% {

		transform: translateX(-5px);
	}

	100% {

		transform: translateX(0);
	}
}



.estilo {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
}

.estilo.active {
    border: 2px solid green;
}

button {
    cursor: pointer;
    margin-left: 20px;
}