*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background-color: black;
}


button {
    height: 100px;
    width: 200px;
    border: none;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}



button:active{
height: 120px;
}